<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		version="3.0">

	<display-name>IJetty Console</display-name>

	<servlet>
		<servlet-name>ContactsJSONServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.ContactsJSONServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CallLogServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.CallLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IPServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.IPServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingsServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.SettingsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MediaBrowserServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.MediaBrowserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MediaRestServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.MediaRestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FinderServlet</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FinderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileName</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownload</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileDownload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileZip</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileZip</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDirectory</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileDirectory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FolderOperation</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FolderOperation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProgressBar</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.ProgressBar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileClassify</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.FileClassify</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchFile</servlet-name>
		<servlet-class>org.mortbay.ijetty.console.SearchFile</servlet-class>
	</servlet>

	<filter>
		<filter-name>MultiPart</filter-name>
		<filter-class>org.eclipse.jetty.servlets.MultiPartFilter</filter-class>
	</filter>

	<servlet-mapping>
		<servlet-name>ContactsJSONServlet</servlet-name>
		<url-pattern>/rest/contacts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallLogServlet</servlet-name>
		<url-pattern>/calls/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingsServlet</servlet-name>
		<url-pattern>/rest/settings/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPServlet</servlet-name>
		<url-pattern>/network/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MediaBrowserServlet</servlet-name>
		<url-pattern>/browse/media/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MediaRestServlet</servlet-name>
		<url-pattern>/rest/media/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinderServlet</servlet-name>
		<url-pattern>/rest/finder/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/rest/fileupload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileName</servlet-name>
		<url-pattern>/rest/filename/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownload</servlet-name>
		<url-pattern>/rest/filedownload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileZip</servlet-name>
		<url-pattern>/rest/filezip/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDirectory</servlet-name>
		<url-pattern>/rest/filedirectory/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderOperation</servlet-name>
		<url-pattern>/rest/folderoperation/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProgressBar</servlet-name>
		<url-pattern>/rest/progressbar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileClassify</servlet-name>
		<url-pattern>/rest/fileclassify/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchFile</servlet-name>
		<url-pattern>/rest/searchfile/*</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>MultiPart</filter-name>
		<url-pattern>/rest/contacts/*</url-pattern>
		<url-pattern>/browse/media/*</url-pattern>
	</filter-mapping>
</web-app>
